@import 'tailwindcss';

@theme {
  --color-blue: #111827;

  --color-gray-50: #bcc0c3;
  --color-gray-500: #383842;
  --color-gray-900: #18181c;

  --font-roboto: Roboto, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
}